ErrorDocument 401 http://200.145.153.175/marcotoledo/gremio/erro/naoautorizado.html
ErrorDocument 404 http://200.145.153.175/marcotoledo/gremio/erro/naoencontrado.html
ErrorDocument 403 http://200.145.153.175/marcotoledo/gremio/erro/acessonegado.html
ErrorDocument 500 http://200.145.153.175/marcotoledo/gremio/erro/errointerno.html

<Files "../scripts/">
        Order Deny,Allow
        Deny from all
</Files>

<IfModule mod_dir.c>
      DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.htm
</IfModule>
